# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Результаты выполнения
*.jpg
*.png
*.jpeg
!images/*.jpg  # но сохранить тестовые в папке images

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/